<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <center>
  <table align="center" class="body-table">
    <tr>
      <td align="center" valign="top">
        <div class="header">
          <p class="logo-header">
            <img src="https://cpanel-master.services.alpha.mojanalytics.xyz/static/stylesheets/images/gov.uk_logotype_crown.png?0.24.1" width="36" height="32" alt="">
            <span>GOV&zwnj;.&zwnj;UK Analytical Platform</span>
          </p>
        </div>

        <% block content %><% endblock %>

        <div class="footer">
          <hr>
          <p>
            If you did not make this request, please contact us by replying
            to this mail.
          </p>
        </div>
      </td>
    </tr>
  </table>
  </center>
</body>
</html>
