<% extends "base.html" %>

<% block content %>
  <div class="main">

    {% if operation == 'change_email' %}
      <% include "change-email.html" %>

    {% elsif send == 'link' or send == 'link_ios' or send == 'link_android' %}
      <% include "login-link.html" %>

    {% elsif send == 'code' %}
      <% include "login-code.html" %>

    {% endif %}

    <p>
      If you are having any issues with your account, please don't
      hesitate to contact us by replying to this mail.
    </p>

    <br>
    Thanks!
    <br>

    <strong>{{ application.name }}</strong>
  </div>
<% endblock %>
